*,
*::before,
*::after {
  box-sizing: border-box;
}
.container{

    text-align: center;
    color: blueviolet;
    font-size: 36px;

}
.input__control{
    border-radius: 4px;
    box-shadow: inset;
    border-color: red

}
body {
    background-image: url(./images/water-falles.webp);
    background-repeat: no-repeat;
    background-size: cover;
    color: rebeccapurple;
    font-size: 36px;
  }
  .main-container{
    margin-left: auto;
    margin-right: auto;

  }
  ul{
    list-style: none;
  }
  .search-form{
      position: relative;
      top: 40px;
      /* left: 50px; */
      font-size: 24px;
      border-radius: 4px;
      border-color: #f33708b0;
      text-align: center;
      margin-bottom: 30px;
  }
  .button-container{
    display: flex;
    position: relative;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
  }
  .js-load-more{
      position: absolute;
      left: 50%;
      font-size: 24px;
      border-radius: 4px;
      border-color: #f33708b0;
      text-align: center;
      margin: auto;
  }
  .gallery{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .list-item{
    display: flex;
    margin-left: 30px;
    margin-right: 30px;
  }
  .stats{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .stats-item{
    margin-right: 25px;
    /* margin-left: 25px; */

  }